:root {
  --background-dark: #2e292e;
  --purple-dark: #674d69;
  --green-light: #b7c9a9;
  --yellow-light: #f2dfb1;
  --pink: #ff7c70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-dark);
  color: var(--yellow-light);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.none {
  display: none;
}

.hero {
  margin: 1.5rem;
}

.hero__title {
  font-size: 5rem;
}

.timer {
  margin: 1.5rem 0;
}

.timer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.timer__container-btn {
  padding: 0.5rem;
  margin: 0 0.5rem;
  background-color: transparent;
  border: solid 3px var(--yellow-light);
  color: var(--yellow-light);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.view {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.timer__container-view {
  font-size: 5rem;
  font-weight: bolder;
  margin: 2rem;
}

.timer__container-edit {
  background-color: var(--yellow-light);
  border: none;
  padding: 0.2rem;
}

.timer__container-input,
.timer__container-ok {
  background-color: transparent;
  border: solid 3px var(--yellow-light);
  padding: 0.1rem;
  color: var(--yellow-light);
}

.timer__container-ok {
  text-transform: uppercase;
  font-weight: 600;
}

.timer__container-start {
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--yellow-light);
  color: var(--background-dark);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 5rem;
}
