:root {
  --background-dark: #2e292e;
  --purple-dark: #674d69;
  --green-light: #b7c9a9;
  --yellow-light: #f2dfb1;
  --pink: #ff7c70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-dark);
  color: var(--yellow-light);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
